<a class="profile" onclick="togleProfileSubmenu()">
   <img src="<%= user.avatar %>" alt="" class="userAvatar">
   <% if(user.displayName.length > 12) { %>
      <p class="displayName"><%= user.displayName.slice(0, 12) %>..</p>
   <% } else { %>
      <p class="displayName"><%= user.displayName %></p>
   <% } %>
   <p class="user-tag">@<%= user.username %></p>
</a>