<nav class="navbar">
   <div class="left-card">
      <a href="#">Inicio</a>
      <a href="#what">Que es?</a>
      <a href="#propocito">Propocito</a>
      <a href="#about">Nosotros</a>
   </div>
   <div class="right-card">
      <a href="/auth/google"><i class="fa fa-google"></i>Login con google</a>
   </div>
</nav>