<nav class="navbar">
   <div class="left-card">
      <a href="#" class="nav-item">Inicio</a>
      <a href="#about" class="nav-item">Que es?</a>
      <a href="#propocito" class="nav-item">Propocito</a>
      <a href="#we" class="nav-item">Nosotros</a>
   </div>
   <div class="right-card">
      <a href="/login" class="google-login">Login</a>
   </div>
</nav>