<%- include('../components/default/head') %>
<link rel="stylesheet" href="styles/default.css">
</head>
<%- include('../components/default/navbar') %>
<div class="conteiner">
   <div class="front">
      <div class="covis">
         <img src="/img/covid-big.png" class="covid-big" alt="">
         <img src="/img/covid-min.png" class="covid-min c1" alt="">
         <img src="/img/covid-min.png" class="covid-min c2" alt="">
         <img src="/img/covid-min.png" class="covid-min c3" alt="">
         <img src="/img/covid-min.png" class="covid-min c4" alt="">
      </div>
      <div class="text">

      </div>
   </div>
   <div class="about" id="about">
      <img src="img/covid_login.jpg" alt="" style="width: 100%;">
   </div>
   <div class="about" id="propocito">
      <img src="img/covid_login.jpg" alt="" style="width: 100%;">
   </div>
   <div class="about" id="we">
      <img src="img/covid_login.jpg" alt="" style="width: 100%;">
   </div>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>