<%- include('../components/default/head') %>
<link rel="stylesheet" href="styles/login.css">
<link rel="stylesheet" href="styles/default.css">
</head>
<div class="login-conteiner">
   <div class="img">
      <img src="img/covid_login.jpg" alt="">
   </div>
   <div class="login_text">
      <h3>Inicio de sesión</h3>
      <a href="/auth/google">
         <div class="login_button">
            <img src="img/google_logo.png" alt="">
            <p>Login with google</p>
         </div>
      </a>
   </div>
</div>