#newPost{
   position: relative;
   width: 60%;
   border: #ddd 1px solid;
   padding: 1em;
   transition: .5s;
}

#newPost .userdata img {
   position: relative;
   width: 3.5em;
   border-radius: 50%;
   top: 3em;
}

#post-content{
   resize: none;
   border: 0;
   display: inline;
   width: 90%;
   position: relative;
   font-size: 2em;
   left: 10%;
}

#post-content:focus {
   outline:none;
}

#newPost button{
   background: #0a0;
   color: #fff;
   border: none;
   text-decoration: none;
   padding: 1em 2em;
   position: relative;
   top: .5em;
   left: 82%;
   cursor: pointer;
}

#newPost button:hover{
   background: #090;
}

#newPost button i {
   margin-right: 1em;
}

@keyframes newPost {
   0% {
      transform: rotateX(90deg);
   }
   100% {
      transform: rotateX(0deg);
   }
}

