body{
   margin: 0;
}

.leftbar {
   color: #fff;
   position: fixed;
   width: 17%;
   height: 100%;
   top: 0;
   left: 4%;
   border-right: #ddd 1px solid;
   z-index: 101;
}
.title{
   width: 49.5%;
   font-size: 2em;
   height: 1.5em;
   border: #ddd 1px solid;
   z-index: 100;
   position: fixed;
   background: #fff;
}
.title p{
   position: relative;
   left: 1em;
   top: 0.15em;
   margin: 0;
   display: inline;
   font-family: 'Roboto', sans-serif;
}
.simbolo-menu{
   display: none;
}
.leftbar .parts{
   display: grid;
   grid-template-columns: 1fr;
   font-family: 'Roboto', sans-serif;
}
a{
   text-decoration: none;
}
.part{
   margin-top: 10vh;
}
.part a{
   padding: 1em;
   font-size: 1.4em;
   border-radius: 3em;
   color: #000;
}


.posts{
   border-right: #ddd 1px solid;
}

.conteiner{
   width: 79%;
   position: absolute;
   left: 21%;
}
.part a:hover{
   color: #0a0;
   background: #ccffcc;
}
.part .profile:hover{
   background: #ccffcc;
}
a p{
   display: inline-block;
}
.newpost{
   background: #0a0;
   color: #fff;
   width: 11em;
   padding: 1em;
   border-radius: 3em;
}
.newpost:hover{
   background: #090;
   cursor: pointer;
}
.newpost p{
   display: inline;
   font-size: 1.2em;
}
.profile{
   display: inline-block;
   width: 8em;
   height: 1.1em;
   cursor: pointer;
}
.profile .userAvatar{
   width: 1.7em;
   position: relative;
   bottom: .3em;
   left: -.2em;
   border-radius: 50%;
}
.profile .displayName{
   display: inline;
   font-size: .8em;
   position: relative;
   color: #000;
   bottom: 1.6em;
   left: .3em;
}
.profile .user-tag{
   display: block;
   font-size: 0.5em;
   margin: 0;
   color: #888;
   position: relative;
   left: 4em;
   bottom: 2.3em;
}

.hide {
   display: none;
}

#profile_submenu {
   position: relative;
   bottom: 19em;
   font-size: .7em;
   background: #fff;
   width: 82%;
   padding: .6em;
   border-radius: 2em;
   box-shadow: 0 0 .4em #444;
   animation: prefile_submenu .75s;
   transition: .75s;
}

#profile_submenu a {
   display: block;
   margin: 0;
   width: 9em;
   padding: .4em;
   height: auto;
}

#profile_submenu a i {
   margin-left: 1em;
}
#profile_submenu a p {
   margin-left: 1em;
}

@keyframes prefile_submenu {
   0% {
      transform: rotateX(-90deg) translateY(75%);
   }
   100% {
      transform: rotateX(0deg) translateY(0);
   }
}
.post{
   width: 60%;
   padding: 1.4%;
   font-family: 'Roboto', sans-serif;
   border-bottom: #ddd 1px solid;
   border-right: #ddd 1px solid;
   background: #fff;
   padding-top: 2em;
   transition: .3s;
   cursor: pointer;
}
.post:hover{
   background: #efefef;
}
.postNow {
   animation: newPost .5s;
}

.post .data .userAvatar{
   width: 3em;
   border-radius: 50%;
}

.post .data .displayName{
   display: inline;
   font-size: 1.2em;
   position: relative;
   bottom: 1.3em;
   left: .5em;
}
.post .data .username{
   display: inline;
   margin: 0;
   font-size: .9em;
   position: relative;
   bottom: 1.95em;
   left: 1em;
   color: #bbb;
}
.post .data i{
   display: inline;
   margin: 0;
   font-size: .5em;
   position: relative;
   bottom: 3.4em;
   left: 1.8em;
   color: #bbb;
}
.post .data .timeStap{
   display: inline;
   margin: 0;
   font-size: .9em;
   position: relative;
   bottom: 1.9em;
   left: 1em;
   color: #bbb;
}
.post .content{
   position: relative;
   resize: none;
   border: none;
   text-align: left;
   left: 4em;
   bottom: 1.5em;
   width: 90%;
   margin: 0;
   font-size: 1.2em;
   background: transparent;
}
.post .content:focus {
   outline:none;
}

.loader {
   width: 7em;
   height: 7em;
   padding: 1em;
   position: relative;
   left: 25%;
   top: 30vh;
}

.loader:before {
   content: '';
   width: 7em;
   height: 7em;
   bottom: 5vh;
   position: relative;
   display: block;
   border-radius: 50%;
   border: #fff .3em solid;
   border-top: #0a0 .3em solid;
   border-right: #0a0 .3em solid;
   animation: loader 1.5s infinite linear;
}
@keyframes loader {
   0% {
      transform: rotate(0deg) scale(1);
   }
   100% {
      transform: rotate(360deg) scale(1);
   }
}