body {
   margin: 0;
}

.conteiner {
   display: grid;
   grid-template-columns: 20% 70% 10%;
}

.leftbar {
   border-right: 1px #ccc solid;
   width: 20%;
   position: fixed;
   font-family: 'Roboto', sans-serif;
}

.leftbar * {
   margin-left: auto;
}

.parts {
   transition: .5s;
   position: relative;
   top: 15vh;
}

.part {
   margin: 15vh 0;
   text-align: center;
}

.part a {
   margin: 2em auto;
   transition: .5s;
   text-decoration: none;
   text-align: center;
   padding: 1.5em 2em;
}

.part a i {
   margin-right: .5em;
}

.part a:hover {
   background: rgb(97, 218, 255);
   padding: 1.5em 2em;
   border-radius: 3em;
}

.part a:hover *{
   color: #fff;
   cursor: pointer;
}

#newpost-btn * {
   color: #fff;
}

.part a * {
   display: inline;
   color: #aaa;
   transition: .5s;
}

#btn-nav {
   display: none;
}

#newpost-btn {
   background: rgb(97, 218, 255);
   border-radius: 3em;
   color: #fff;
   cursor: pointer;
}

@keyframes prefile_submenu {
   0% {
      transform: rotateX(90deg);
   }
   100% {
      transform: rotateX(0deg);
   }
}

#profile_Submenu {
   display: block;
   animation: prefile_submenu 0.3s linear;
}

#profile_Submenu.hide {
   display: none;
}
.pmenu {
   width: 20%;
   position: fixed;
   z-index: 100;
}

.profile {
   display: block;
   padding: 1em;
   border-radius: 3em;
   height: 7vh;
   margin: 1em;
   transition: .5s;
   background: #eee;
}

.profile:hover {
   cursor: pointer;
   background-color: #ddf;
}

.profile .userAvatar{
   width: 20%;
   border-radius: 50%;
}

.profile .displayName {
   display: inline;
   position: relative;
   left: 4%;
   font-size: 1.2em;
   bottom: 1.5em;
}

.profile .user-tag {
   margin-top: 0;
   position: relative;
   font-size: .9em;
   left: 25%;
   bottom: 1.9em;
}

#profile_Submenu {
   background: red;
   display: block;
   padding: .5em;
   border-radius: 3em;
   height: 12vh;
   margin: .1em;
   transition: .5s;
   width: 65%;
   background: rgb(97, 218, 255);
   position: relative;
   left: 5%;
   bottom: .5em;
}

#profile_Submenu a {
   color: #fff;
   text-align: center;
   text-decoration: none;
   display: grid;
   grid-template-columns: 1fr;
   margin: .5em;
}

#profile_Submenu a * {
   display: inline;
   margin: 0;
}